main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img {
    display: block;
    width: 400px;
    height: 600px;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}