@media (min-width: 768px) {
    #menu {
        display: none !important; 
    }

    nav {
        display: flex !important;
        justify-content: center;
    }

    li, a{
        justify-content: space-between;
    }

    .navigation {
        display: flex !important; 
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr); 
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
    }
}